.Icons {
    &__walletconnect {
        background-image: url('../../public/images/icons/walletconnect.svg');
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
    }
}